<!--
Template temporario para diagnosticar parametros do notifier no Fluig.
Cadastre este conteudo no mesmo codigo TPL_BOLAO_COPA_2026_ENVIO apenas para teste.
-->
<p>Teste nomeContato: ${nomeContato!''}</p>
<p>Teste empresa: ${empresa!''}</p>
<p>Teste scoreFinal: ${scoreFinal!''}</p>
<p>Teste maturidade: ${maturidade!''}</p>
<p>Teste dataAtual: ${dataAtual!''}</p>
<p>Teste htmlInsights: ${htmlInsights!''}</p>
<p>Teste linkPdfPublico: ${linkPdfPublico!''}</p>
<hr />
<p>Teste nomeParticipante: ${nomeParticipante!''}</p>
<p>Teste alias nome: ${nome!''}</p>
<p>Teste data map: ${data.nomeParticipante!''}</p>
<p>Teste params map: ${params.nomeParticipante!''}</p>
<p>Teste message: ${message!''}</p>
<p>Teste link direto: ${linkDocumento!''}</p>
<p>Teste link alias: ${link!''}</p>
